<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="MySqlConnectionString" 
             connectionString = "server = localhost;
                                 port = 3309;
                                 userid = root; 
                                 password = ; 
                                 database = inlislite_v3;" />
    </connectionStrings>
</configuration>